<div class="container-fluid">
  <div class="row">
    <nb-card class="col">
      <nb-card-body>
        <nb-calendar [(date)]="date">
        </nb-calendar>
      </nb-card-body>
    </nb-card>
    <nb-card class="col">
      <nb-card-header>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo23tYn4lKpHQfnMMHNWcf3pSMyg3wNQrJT2yFJSHA&s" class="card-img-top" alt="...">
      </nb-card-header>
      <nb-card-body>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid, consectetur cupiditate dicta dolore excepturi impedit laborum maxime neque omnis quaerat quam sint suscipit totam vitae! Consectetur natus neque repellendus!</p>
      </nb-card-body>
    </nb-card>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</div>
